@using EPiServer.Web.Mvc.Html
@model SectionMediaBlock

<section class="wrap section-media-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-xl-3">
                <div>
                    <h1>@Html.PropertyFor(x => x.Headline) </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-xl-3">
                <div class="image-full">
                    <img src="@Url.ContentUrl(Model.Image)" alt="" media="(min-width:768px)" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-xl-3">
                    <div class="wrap__intro">
                        @Html.PropertyFor(x => x.Body)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
