@using EPiServer.Web
@using EPiServer.Web.Mvc.Html
@using PolisenNews.Cms.Infratructure.Cms.Extensions
@using PolisenNews.Cms.Infratructure.Helpers
@using PolisenNews.Cms.Models.ViewModels
@inject IContextModeResolver contextModeResolver
@model PageViewModel<StandardPage>

<div class="row">
    <div class="col-12 standard-page__container">
        <div class=""
        <div class="standard-page__content">
            <div class="row">
                <div class="col-12">
                    @if (!ContentReference.IsNullOrEmpty(Model.CurrentPage.PageImage))
                    {
                        <img src="@Url.ContentUrl(Model.CurrentPage.PageImage)" />
                    }
                </div>
            </div>
            @if ((Model.CurrentPage.Title != null ) || contextModeResolver.CurrentMode == ContextMode.Edit)
            {

                <div class="row">
                    <div class="col-12">
                        @Html.PropertyFor(m => m.CurrentPage.MainBody)
                    </div>
                </div>
            }
            @if ((Model.CurrentPage.MainBody != null && !Model.CurrentPage.MainBody.IsEmpty) || contextModeResolver.CurrentMode == ContextMode.Edit)
            {

                <div class="row">
                    <div class="col-12">
                        @Html.PropertyFor(m => m.CurrentPage.MainBody)
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-12">
                    @Html.PropertyFor(x => x.CurrentPage.MainContentArea)
                </div>
            </div>
        </div>
    </div>
</div>

