@using EPiServer.Web
@using EPiServer.Web.Mvc.Html
@using PolisenNews.Cms.Infrastructure.Cms.Extensions
@using PolisenNews.Cms.Models.Pages
@inject IContextModeResolver contextModeResolver
@model IPageViewModel<StandardPage>
<div class="row">
    <div class="contentainer" standard-page__container">

        <div class="standard-page__content">
            <div class="row">
                <div>
                    <h1> @Html.PropertyFor(m => m.CurrentPage.Title)</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                     <img src="@Url.ContentUrl(Model.CurrentPage.PageImage)" class="TeaserImage" />
                </div>
            </div>

            @if ((Model.CurrentPage.MainBody != null && !Model.CurrentPage.MainBody.IsEmpty) || contextModeResolver.CurrentMode == ContextMode.Edit)
            {

                <div class="row">
                    <div>
                        @Html.PropertyFor(m => m.CurrentPage.MainBody)
                    </div>
                </div>
            }
            <div class="row">
                <div>
                    @Html.PropertyFor(x => x.CurrentPage.MainContentArea)
                </div>
            </div>
        </div>
    </div>
</div>

